*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
   
/****************************************************************

   /* SELETTORI PER TAG */
}
body{
    background-color: rgb(233, 233, 233);
}

main{
    height: 100vh;
}

header{
    background-color: white;
    height: 100px; 
    vertical-align: middle;
}

p{
    margin: 10px 10px;
    font-size: 20px;
}

h2{
    color: rgb(63, 63, 63);
    font-weight: bold;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
}





/****************************************************************

/* SELETTORI PER CLASSE */

.buttons{
    margin: 10px 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid  rgb(214, 214, 214);
    
    
}
.left{
    margin-left: 40px;
    background-color:#45ABEA ;
    color: white;
}
.right{
    color: rgb(168, 168, 168);
    background-color: white;
}

.liste{
    margin-bottom: 30px;
}
.categorie{
    color: white;
    font-size: 10px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
}
.editorial{
    background-color: #45ABEA;    
}
.goals{
    background-color: #9C72E4;
}
.recruiting{
    background-color: #64C0A9;
}
.website{
    background-color: #D863A1;
}
.mobile{
    background-color: #F29E33;
}
.sales{
    background-color: #B0C926;
}


.simbols{
    width: 2px;
}/*  non ho trovato i simboli come in documento */




/***************************************************************

/* SELETORI PER ID */

#logo{
    display: inline-block;
    width: 70px;
    margin: 20px;
    margin-left: 25px;
    margin-right: 10px;
    vertical-align: middle;
}
#finestra{
    background-color: white;
    width: 900px;
    margin: auto;
    margin-top: 50px ;
    border-radius: 8px;
}
#sezione_bottoni{
    border-bottom: 3px solid rgb(240, 240, 240);
}
#sezione_liste{
    padding: 35px;
    padding-left: 40px;
}